@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* :root{
  --primary-bg-color: #222831;
  --secondary-bg-color: #31363F;
  --accent-color: #76ABAE;
}

body{
  background-color: var(--primary-bg-color);
  font-size: 18px;
  color: #fff ;
} */
